.navLvl3 {
  justify-content: center;
  position: absolute;
  top: -100%;
  right: 0;
  width: 100%;
  background-color: #0d1a22;
  background-color: lightsalmon;
  transition: top 300ms ease-out;
}

.navLvl3.active {
  top: var(--header-height);
}

.navLvl3 > ul {
  display: flex;
  flex-direction: column;
}

@media screen and (width >= 1024px) {
  .navLvl3 {
    position: relative;
    justify-content: center;
    position: static;
    font-size: var(--body-small);
  }
}
