.productContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    padding: 0 var(--wrapper);
    max-width: var(--wrapper-max);
    margin: 0 auto;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}