.carousel {
  max-width: 400px;
}

.thumbnailContainer {
  display: flex;
  margin-top: 20px;
  padding-bottom: 10px;
  gap: 16px;
  overflow-x: auto;
}

.thumbnailContainer::-webkit-scrollbar {
  /* For Chrome, Safari, and Opera */
  height: 6px;
  cursor: pointer;
}

.thumbnailContainer::-webkit-scrollbar-thumb {
  /* For Chrome, Safari, and Opera */
  background-color: var(--primary-950);
  border-radius: 4px;
  cursor: pointer;
}

.thumbnailContainer::-webkit-scrollbar-track {
  /* For Chrome, Safari, and Opera */
  background-color: inherit;
}

.thumbnail {
  max-width: 80px;
  max-height: 80px;
  border-radius: 0px 16px;
  cursor: pointer;
  border-radius: 0px 16px;
  border: 1px solid var(--primary-900);
  box-shadow: 3px 3px 0px 0px var(--primary-900);
}

.selectedThumbnail {
  max-width: 80px;
  max-height: 80px;
  border-radius: 0px 16px;
  border: 1px solid var(--primary-500);
  box-shadow: 3px 3px 0px 0px var(--primary-500);
}
