.searchBar {
  display: flex;
  border-radius: 1rem;
  background-color: var(--neutral-800);
  border: none;
  font-size: var(--body-small);
  padding: 0.5rem;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
