.input {
  color: var(--neutral-50);
  border: none;
  font-size: var(--body-small);
  height: 100%;
  background-color: transparent;
  width: 100%;
}

.input:focus-visible {
  outline: none;
}

.searchForm {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgba(250, 250, 250, 0.15);
  padding: 0 1rem;
  border-radius: 100px;
}

.icon {
  padding-right: 0.5rem;
}
