.product {
  min-width: 120px;
  min-height: 250px;
  border-radius: 0px 16px;
  background: radial-gradient(52.43% 52.43% at 50% 50%, #0e2145 0%, #021626 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-weight: 500;
  transition: 150ms;
  border: 1px solid rgba(0, 0, 255, 0);
  box-shadow: 0px 0px 0px 0px var(--primary-900);
  &:hover {
    border: 1px solid var(--primary-900);
    box-shadow: 3px 3px 0px 0px var(--primary-900);
  }
}

.product img {
  /* border: solid 1px greenyellow; */
  max-width: 60%;
  margin-top: 5%;
}
