.product {
    min-width: 120px;
    border-radius: 0px 8px;
    background: radial-gradient(52.43% 52.43% at 50% 50%, #0E2145 0%, #021626 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: 500;
}

.product img {
    width: 100%;
    max-width: 150px;
}