.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: var(--wrapper-max);
  padding: 2rem var(--wrapper);
  width: 100%;
}
.errorMessage {
  color: var(--error-500);
  font-size: var(--body-xsmall);
}
.formInput {
  border: none;
  border-radius: 0.2rem;
  height: 2.5rem;
}
input::placeholder {
  color: var(--neutral-500);
  padding-left: 0.5rem;
}
