.main {
  align-items: center;
  display: flex;
  height: 100svh;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  padding: 0 var(--wrapper);
  width: 100%;
}

.errorMessage {
  color: var(--error-500);
  font-size: var(--body-xsmall);
}

.formInput {
  border: none;
  border-radius: 0.2rem;
  height: 2.5rem;
}

.formInput::placeholder {
  color: var(--neutral-500);
  padding-left: 0.5rem;
}
