.privacyPolicy {
  padding: 4rem var(--wrapper);
  max-width: var(--wrapper-max);
  margin: 0 auto;
}

.privacyPolicy h1 {
  padding-bottom: 2rem;
}

.privacyPolicy ul li {
  padding-bottom: 0.5rem;
}

.privacyPolicy h4 {
  padding-bottom: 0.25rem;
}
