.navLvl1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--nav-bar);
  width: 320px;
  height: 100svh;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%;
  padding: 2rem;
  transition: right 300ms ease-out;

  & .lvl1Items {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--body-large);
      font-weight: 500;
      height: 40px;

      & > div,
      a {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        & > span {
          color: var(--neutral-500);
        }
      }
    }
  }

  & li {
    cursor: pointer;
  }
}

.navLvl1.active {
  right: 0;
}

#closeIcon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  cursor: pointer;
}

.navLvl2 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--nav-bar);
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: right 300ms ease-out;

  & > ul {
    display: flex;
    flex-direction: column;

    & > li {
      font-weight: 500;
      color: var(--neutral-500);
      & > p {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  & button {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    color: var(--neutral-50);
    padding: 0;
    cursor: pointer;
    font-weight: 400;
  }
}

.navLvl2.active {
  right: 0;
}

.categoryTitle {
  font-size: var(--body-large);
  font-weight: 500;
}

.bgOverlayMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
}

.bgOverlayMobile.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease, visibility 0s;
}

.allProductsItem {
  display: none;
}

@media screen and (width >= 1024px) {
  #hambIcon {
    display: none;
  }

  .navLvl1 {
    width: 100%;
    height: 100%;
    position: static;
    background-color: inherit;
    transition: none;
    font-weight: 500;
    padding: 0;
    justify-content: center;
    align-items: center;

    & > .lvl1Items {
      flex-direction: row;

      & > li {
        font-size: var(--body-small);
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        height: 28px;
        & :hover {
          text-decoration: underline 2px solid var(--primary-500);
          text-underline-offset: 6px;
        }

        & span {
          display: none;
        }
      }
    }
  }

  #closeIcon {
    display: none;
  }

  .navLvl2 {
    justify-content: center;
    top: var(--header-height);
    left: 0;
    height: auto;
    width: 100%;
    padding: 0 2rem 1rem;
    background-color: var(--nav-bar);
    transition: 300ms ease-out;
    transform: scale(1, 0);
    transform-origin: top;

    & > ul {
      position: relative;
      justify-content: space-between;
      flex-direction: row;
      top: -5px;
      opacity: 0;

      & > li {
        flex-direction: column;
        gap: 0.5rem;

        & > p {
          display: none;
        }
      }
    }
  }

  .navLvl2.active {
    transform: scale(1, 1);

    & > ul {
      transition: 300ms ease-out;
      transition-delay: 300ms;
      top: 0;
      opacity: 1;
    }
  }

  .navLvl2 button {
    display: none;
  }

  .categoryTitle {
    display: none;
  }

  .navLvl2 li > span {
    display: none;
  }

  .allProductsItem {
    display: block;
  }
}
