.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: var(--wrapper-max);
  padding: 2rem var(--wrapper);
  margin: 0 auto;
}
.productData > * {
  padding-bottom: 1rem;
}

.price {
  font-size: var(--title-medium);
  font-weight: 700;
  padding-bottom: 1rem;
}

.productDescription {
  padding-bottom: 1rem;
}

.addCartContainer {
  background: radial-gradient(52.43% 52.43% at 50% 50%, #0e2145 0%, #021626 100%);
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.rateContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.rateStars {
  font-size: 1rem;
  & svg {
    max-width: inherit;
  }
}

@media screen and (768px <= width) {
  .section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .addCartContainer {
    background: inherit;
    padding: 0;
    position: inherit;

    & button {
      max-width: 250px;
      margin-top: 1rem;
    }
  }
}
