.productImage {
  width: 100%;
  max-width: 500px;
}

.container {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.accent {
  color: var(--primary-500);
}

.productDescription {
  font-size: var(--body-small);
}

@media screen and (width >= 1024px) {
  .container {
    flex-direction: row;
  }
}
