.filterList {
  display: flex;
  flex-direction: column;
}

.applyButton {
  background-color: var(--primary-500);
  color: white;
  border: none;
}

.filterLabel {
  font-size: var(--body-small);
  text-transform: uppercase;
}
