.review {
  padding-bottom: 1rem;
  > * {
    padding-bottom: 0.5rem;
  }
}

.reviewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  & p {
    font-weight: 500;
    font-size: var(--body-large);
  }
}

.date {
  color: var(--neutral-500);
}
