.review {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  > * {
    padding-bottom: 0.5rem;
  }
  & button {
    font-size: var(--body-small);
    & span {
      font-size: calc(var(--body-small) + 4px) !important;
    }
    &:hover {
      background-color: var(--neutral-800);
    }
  }
}

.myReview {
  background-color: var(--neutral-900);
}

.reviewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  & p {
    font-weight: 500;
    font-size: var(--body-large);
  }
}

.date {
  color: var(--neutral-500);
  padding-bottom: 0;
}
