.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem var(--wrapper);
  max-width: var(--wrapper-max);
  margin: 0 auto;
}

.heroText {
  width: 100%;
  animation: fadeInUp 500ms ease-in-out;
}

.heroText h1 {
  padding-bottom: 1rem;
}

.accent {
  color: var(--primary-500);
}

.hero img {
  width: 100%;
  max-width: 450px;
  align-self: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    translate: 0 -5px;
  }
  to {
    opacity: 1;
    translate: 0 0px;
  }
}

@media screen and (width >= 1024px) {
  .hero {
    flex-direction: row;
    gap: 4rem;
  }
}
