.product {
    position: relative;
    min-width: 120px;
    border-radius: 0px 8px;
    background: radial-gradient(52.43% 52.43% at 50% 50%, #0E2145 0%, #021626 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-size: .8rem;
}

.productBrand {
    font-size: .625rem;
    color: var(--neutral-300);
}

.productName {
    font-weight: 400;
}

.productPrice {
    font-weight: 700;
}

.chip {
    display: inline-flex;
    margin-right:auto;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 16px;
    height: 20px;
    padding: 0 12px;
    font-size: .625rem;
    background-color: var(--primary-500);
    border-radius: .5rem;
}

.product img {
    max-width: 150px;
}