.button {
  background-color: var(--neutral-800);
  color: var(--neutral-50);
  display: grid;
  place-items: center;
  height: 20px;
  aspect-ratio: 1/1;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  padding: 0;

  &:hover {
    background-color: var(--neutral-700);
  }

  &:active {
    border: 2px solid var(--neutral-400);
  }
}

.button span {
  font-size: var(--body-small);
  margin-top: 2.5px;
  margin-left: 1px;
}

@media (width >= 768px) {
  .button {
    height: 48px;
  }

  .button span {
    font-size: var(--body-medium);
    margin-top: 0px;
    margin-left: 0px;
  }
}
