/*------------------------------------- RESET --------------------------------------*/
/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*
9. Remove unordered lists default styles
*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ------------------------------------- GENERAL ---------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--neutral-950);
  color: var(--neutral-50);
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Typescale of 1.200 Minor Third */
h1 {
  font-size: var(--title-large);
  line-height: normal;
}
h2 {
  font-size: var(--title-medium);
}
h3 {
  font-size: var(--title-small);
}
h4 {
  font-size: var(--body-large);
}

p {
  line-height: 1.5rem; /* 150% */
}

small {
  font-size: var(--body-small);
}

strong {
  font-weight: 900;
}

/* Change text selection color */
::-moz-selection {
  /* Code for Firefox */
  background: var(--primary-900);
}

::selection {
  background: var(--primary-900);
}
/* ------------------------------------- VARIABLES ---------------------------------- */

:root {
  font-size: clamp(1rem, 0.9199rem + 0.4274vw, 1.125rem);

  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #65758b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;
  --neutral-950: #020617;

  --primary-50: #f1f4fd;
  --primary-100: #dfe6fa;
  --primary-200: #c5d3f8;
  --primary-300: #9eb6f2;
  --primary-400: #7090ea;
  --primary-500: #4261e1;
  --primary-600: #394ed7;
  --primary-700: #303bc5;
  --primary-800: #2d33a0;
  --primary-900: #292f7f;
  --primary-950: #1d1f4e;

  --success-500: #22965c;
  --warning-500: #dcc825;
  --error-500: #e72513;

  --nav-bar: #0e1b23ef;

  /* Typescale of 1.2 Minor Third */
  --title-large: 2.074rem; /* h1 33.18px */
  --title-medium: 1.728rem; /* h2 27.65px */
  --title-small: 1.44rem; /* h3 23.04px */
  --body-large: 1.2rem; /* h4 19.2px */
  --body-medium: 1rem; /* p 16px */
  --body-small: 0.833rem; /* small 13.33px */
  --body-xsmall: 0.694rem; /* 11.11px */

  --header-height: 80px;
  --wrapper-max: 64rem; /* 1024px */
  --wrapper: 2rem; /* 32px */
}

@media screen and (768px <= width) {
  :root {
    /* Typescale 1.250 Major Third */
    font-size: clamp(1.125rem, 0.75rem + 0.7813vw, 1.25rem);
    --title-large: 2.441rem; /* h1 48.83px */
    --title-medium: 1.953rem; /* h2 39.06px */
    --title-small: 1.563rem; /* h3 31.25px */
    --body-large: 1.25rem; /* h4 25px */
    --body-medium: 1rem; /* p 18px */
    --body-small: 0.8rem; /* small 16px */
    --body-xsmall: 0.64rem; /* 12.8px */
  }
}

@media screen and (width >= 1024px) {
  :root {
    /* Typescale 1.333 Perfect Fourth */
    font-size: 20px;
    --title-large: 3.157rem; /* h1 63.15px */
    --title-medium: 2.369rem; /* h2 47.37px */
    --title-small: 1.777rem; /* h3 35.54px */
    --body-large: 1.333rem; /* h4 26.66px */
    --body-medium: 1rem; /* p 20px */
    --body-small: 0.75rem; /* small 15px */
    --body-xsmall: 0.563rem; /* 11.26px */
  }
}
