.header {
  height: var(--header-height);
}

.headerContainer {
  background-color: #0d1a22;
  /* background-color: #0e1b23ef; <- Change this for when the blurred background filter is applyed to all when opening the nav
  backdrop-filter: blur(5px); */
  position: fixed;
  z-index: 100;
  width: 100%;
}

.headerContent {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--wrapper);
  max-width: var(--wrapper-max);
  margin: 0 auto;
}

.headerContent > a {
  display: flex;
  align-items: center;
  gap: 16px;
}

.computechLogoText {
  display: none;
}

a {
  text-decoration: none;
  color: var(--neutral-50);
}

.icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

@media screen and (768px <= width) {
  .computechLogoText {
    display: block;
  }
}

@media screen and (width >= 1024px) {
  .icons span:first-child {
    order: 1;
  }

  .icons a:nth-child(2) {
    order: 2;
  }

  .icons a:nth-child(3) {
    order: 3;
  }

  .bgOverlayDesktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
  }

  .bgOverlayDesktop.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease, visibility 0s;
    z-index: 2;
  }
}

.cartElements {
  display: flex;
  flex-direction: row;
  gap: 0;
  position: relative;
}

.cartCount {
  border-radius: 100%;
  background-color: var(--primary-700);
  font-size: var(--body-xsmall);
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}
