.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: .5rem;
    height: 40px;
    background: linear-gradient(95deg, #0198FF 0%, #7B34C7 100%);
    color: var(--neutral-50);
    border: none;
    border-radius: 2px 32px;
    font-weight: 700;
    transition: 500ms;
}

.button:hover {
    background: linear-gradient(95deg, #0198FF 0%, #7B34C7 50%);
}